<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console_appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="request_appender" fileName="mw.csv" immediateFlush="false">
            <PatternLayout pattern="%m%n" header="requestType,timeFirstByte,timeEnqueued,timeDequeued,timememcachedSent,timememcachedReceived,timeCompleted,queueLength%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console_appender"/>
        </Root>
        <Logger name="request_logger" level="debug" additivity="false">
            <AppenderRef ref="request_appender" />
        </Logger>
    </Loggers>
</Configuration>

